<template>
    <v-app-bar image="https://i.pinimg.com/564x/34/8b/80/348b80a9c71040eee6d5df0c60f8b3f8.jpg">
        <v-app-bar-title icon="mdi-star-box-multiple-outline" class="font-weight-bold">☕ D-Coffee</v-app-bar-title>
      </v-app-bar>
  </template>
