<template>

  <v-layout class="full-screen" style="background-color: #E4E4D0;">

    <div class="navbar bg-base-100 px-4 mx-auto  w-full" style="background-color: #FFFAF4;" >

      <div class="flex-1" style="background-color: #FFFAF4;">
        <a class="btn btn-ghost text-xl" style="color: #C3B091;">Follow the things in your heart</a>
      </div>
      <div class="flex-none">
        <!-- <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <div class="indicator">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
              <span class="badge badge-sm indicator-item">8</span>
            </div>
          </div>
          <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-base-100 shadow">
            <div class="card-body">
              <span class="font-bold text-lg">8 Items</span>
              <span class="text-info">Subtotal: $999</span>
              <div class="card-actions">
                <button class="btn btn-primary btn-block">View cart</button>
              </div>
            </div>
          </div>
        </div> -->
        <a style="color: #6d6659;">Name: Praewwarin Chachai</a>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img alt="Tailwind CSS Navbar component"
                src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li>
              <a class="justify-between">
                Profile
                <!-- <span class="badge">New</span> -->
              </a>
            </li>
            <li><a>History</a></li>
            <li><a>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </v-layout>
</template>

<style scoped>
.full-screen {
  width: 100vw; /* Set the width to 100% of the viewport width */
  height: 100%; /* Maintain the height as 100% */
  margin: 0;
  padding: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
}

/* Remove max-width constraint */
.navbar {
  max-width: none;
}

</style>
