<script setup lang="ts">
import { ref } from 'vue'

</script>

<template>
    <v-app style="float: right;">
        <v-main>
            
            <v-container class="pa-10 mt-10" style="float: right;">
                <v-row >
                    <v-col >
                        <v-card width="550px" height="620px"
                            style="border-radius: 50px; background-color: white; box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;">
                            <v-card width="550px" height="700px"
                                style="border-radius: 50px; background-color: #FCFAF7  ; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;">
                                <v-col>
                                    <v-container class="text-center">
                                       
                                        <v-card-title primary-title class="text-center "
                                            style="font-size: 32px; font-family: serif;  font-weight: bold; letter-spacing: .2rem; margin-left: 3%; color: black;  ">
                                            Sign in </v-card-title>
                                    </v-container>

                                </v-col>

                            </v-card>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>







        </v-main>

    </v-app>
</template>
<style>
.bg-img {
    /* The image used */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
</style>

