<template>
    <v-row>
        <v-col cols="12" sm="6" md="2">
            <v-card width="400">
                <v-card-item>
                    <v-card-title>รับมือกับคนขี้อิจฉายังไงดีคะ</v-card-title>

                    <v-card-subtitle>สมาชิกหมายเลข 7840870</v-card-subtitle>
                </v-card-item>
                <v-card-text class="d-flex justify-end">
                    <v-btn>
                        See All
                    </v-btn>
                </v-card-text>

            </v-card>
        </v-col>
    </v-row>
</template>