<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import FullLayout from "@/components/layouts/FullLayout.vue";
import MainLayout from '@/components/layouts/MainLayout.vue'
</script>

<template>
<component :is="MainLayout"></component>

  <!-- <RouterView /> -->
</template>

<style scoped>
<<<<<<< HEAD
=======


>>>>>>> c767b0887c3a23410f39245f8f7db15d0cb8792e
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
  font-family: 'Kanit', sans-serif;
}
</style>
